/* CSS Document 
Good examples: 
https://vuorre.netlify.app/
https://lynnle.com/
https://fonts.google.com/specimen/Quicksand
*/

body,html { 
	width: 100%; 
	background-color: #D37E8E;
}

* { 
	color:#fff; 
	text-decoration: none;
}

#wrapper { 
	width: 100%;  
}

.mainBlock {
	height: 600px; 
	width: 80%;
	box-sizing: border-box;
	padding-left: 20%
}

h1 {
  	color: black;
  	font-size: 35px;
	font-family: "Spectral SC"; 
	line-height: 1.5; 
}

h2 {
	font-size: 30px;
	font-family: Raleway;
	line-height: 1.4; 
}

h3 {
	font-size: 15px;
	font-family: Raleway;
	line-height: 1.3; 
}

p {
	font-family: "Quicksand" 
}

/*Menu Start *******************************************/
#menu {
	height: 40px;
	width: 80%;
	border-bottom: solid 1px black;
	position: fixed;
	background-color: #F3E8EA;
}

.menubutton {
	float: right; 
	margin-right: 20px;
	margin-top: 10px;
}

.menubutton a {
	font-size: 20px;
	color: #262626;
	font-weight: bold;
	font-family: "Spectral SC" 
}










/*INTRO BLOCK *******************************/
#intro {
	padding-top: 40px;
	height: 640px;
}

#introText {
	width: 55%;
	float: left;
	position: relative;
}

#introSummary {
	width: 45%;
	float: right;
}

#introSummary img {
	height: 300px;   
	margin-top: 10%;
	margin-left: 50%;
	transform: translate(-50%, 0);
	border-radius: 0%;
}  

#introSummary h1, #introSummary h2, #introSummary h3 {
	text-align: center;
}

































/*RED BLOCK*/
#CurrentProject {
	background-color: #A84041;
}


/*RESUME BLOCK */
#resumeblock {
	background-color: #74D1E0;	
}

#WorkingExperience {
	width: 50%; 
	float: left; 
}

#education {
	width: 50%; 
	float: right; 
}

/*SUBLOCKS READY FOR USE*/
/*.block {
	height: inherit;
	width: 33.333333%;
	float: left; 
}

.block p {
	margin: 10px; 
	text-align: center
}

.block h1 {
	margin: 10px; 
	text-align: center; 
	margin-top: 25px; 
}

.block img { 
	width: 70%;
	height: 50%; 
	margin: auto; 
	margin-top: 35px;
	display: block;
}